<!-- Case Study -->

<article class="case-study">
    <div class="summary">
        <div class="copy">
            <h2 class="title">
                {{title|raw}}
            </h2>
{#             <h3 class="url">
                <a href="{{url}}">{{linkCopy}}</a>
            </h3> #}
            <h5 class="content">
                {{content}}
            </h5>
        </div>
        <div class="main-thumb video-container">
            <video autoplay="true" loop="true" src="{{vidArray}}"></video>
        </div>        
    </div>
 
    <div class="images">
        <img src="{{imgArray1}}">        
        <img src="{{imgArray2}}">
        <img src="{{imgArray3}}">
    </div>

</article>
